/*font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

body{
    margin: 0;
    background-color: rgb(185, 245, 225);
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aliceblue;
}

a.paginas{
    /* o display block impede que a caixa do hover aumente, ela fica constante*/
    font-size: 20px; 
    text-decoration: none;
    padding: 20px;
    color: black;
    line-height: 100px;
    transition: 0.5s;
}

.menu .paginas:hover{
    border-radius: 10px;
    background-color: rgb(185, 166, 255);
    font-size: 23px;
}

.menu img{
    width: 100px;
    height: 100px;
    /*display: block;
    float: right;*/
    position: absolute;
    right: 0;
}

h1, h2{
    color: indigo;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 700; /*negrito*/
}

.imagens{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-bottom: 0;
    transition: 0.5s;
}

.imagens:hover{
    transform: scale(1.3);
}

.legenda{
    color: indigo;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-left: 0;
    padding-top: 0;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 0;
}

p{
    margin-left: 20px;
}

button{
    border: solid indigo;
    size: 100px 20px;
    position: center;
    background-color: rgb(149, 0, 255);
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px;
    height: 50px;
}


#especial{
    border: solid rgb(255, 0, 85) 3px;
    background-color: rgb(240, 107, 133);
}

footer{
    padding:20px;
    justify-content: center;
}


.rodape{
    background-color: cadetblue;
    display: flex;
}
